.nav-link#right
{
    display: inline-block;
    vertical-align: top;
}

img#right
{
    margin-left: 5px;
    margin-right: 10px;
}

h2
{
    text-align: left;
    color: #000000;
    font-family: "Akronim";
    font-weight: bold;
    padding-top: 80px;
    padding-left: 15%;
}