#novel-navigation-top
{
    padding-top: 15px;
    display: inline;
}

#novel-navigation-down
{
    padding-bottom: 15px;
    display: none;
}

.novel-txt
{
    text-align: center;
}

.novel-info-desktop
{
    display: inline;
}

.novel-info-phone
{
    display: none;
}

.container-fluid
{
    padding-top: 15px;
}

@media only screen and (max-width: 950px)
{
    .novel-info-desktop
    {
        display: none;
    }

    .novel-info-phone
    {
        /*
        padding-top: 15px;
        width: 100%;
        text-align: center;*/
        display: inline;
    }
}

