body
{
  background-color: #BDC5D9;
}

h1
{
  text-align: center;
  padding-top: 15px;
}


footer
{
  text-align: center;
}

img#right
{
    margin-left: 5px;
    margin-right: 10px;
}


.nav-link#right
{
    display: inline-block;
    vertical-align: top;
}


.linkReidirizzamento
{
  font-size: 15pt;
  color: #000000;
}

.btnx
{
  width: 100%;
}

.form-control
{
  background-color:#D3DCF2;
  text-emphasis-color: #000000;
  border-color: #000000;
  border-width: medium;
  font-size: 15pt;
}

#input_dati_registratione
{
    width: 200px;
}

#input_dati_login
{
    width: 200px;
}

#footer
{
  align-self: center;
}