body
{
  background-color: #BDC5D9;
}

h1
{
  text-align: center;
  padding-top: 5%;
}


footer
{
  text-align: center;
}

.linkReidirizzamento
{
  font-size: 15pt;
  color: #000000;
}

.btnx
{
  width: 100%
;}

.form-control
{
  background-color:#D3DCF2;
  text-emphasis-color: #000000;
  border-color: #000000;
  border-width: medium;
  font-size: 15pt;
}

#input_dati_registratione
{
  max-width: 15%;
}

#input_dati_login
{
  max-width: 15%;
}

#footer
{
  align-self: center;
}
